

body{
  background-color: #ff1493;
  background: linear-gradient;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
#add{
  width: 200px;
  height: 25px;
  border-color: #eee;
}
.form{
  background-color: white;
  text-align: center;
  margin-top: 10%;
  margin-left: 35%;
  margin-right: 35%;
  box-shadow: 0px 0px 5px 0px;
}
#AddI{
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #ff69b4;
  width: 200px;
  height: 25px;
  border-radius: 9%;

}
#complete{
  background-color: none;
  color: #ff69b4;
  border-color: #ff69b4;
  margin-right: 30px;
  margin-left: 10px;
  float: left;
}
#text{
  margin-right: 90px;
}
#Btext{
  margin-right: 190px;
}
#delete{
  margin-left: 30px;
  float: right;
  margin-right: 30px;
}
.Cstyle{
  text-decoration: line-through;
}
